.bg-basic {
  background: {
    image: url('../styles/images/subway.svg');
    color: #ffffff;
    repeat: repeat-x;
    size: 60vh;
    position: 0% 100%;
  }
}

.center {
  z-index: 100;
  width: 4rem;
}

.bg-room {
  background: {
    image: url('../styles/images/station.svg');
    repeat: repeat-x;
    size: 75vh;
    position: 0% 100%;
  }
}
