// #screen {
//   margin: 0 auto;
//   max-width: 414px;
//   max-height: 896px;
//   text-align: center;
// }

.container {
  height: 100vh;
  color: #ffffff;
  font-family: $font-title;
  font-weight: 400;

  .top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .title {
    font-size: 3rem;
    // padding: 50px 0;
  }
}

.container-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;

  input {
    margin: 10px 0 20px;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: $ice;
    background: none;
    border-bottom: 2px solid $ice;
  }

  .button-enter {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    color: $ice;
    border-radius: 5px;
    border: 2px solid $ice;
    &:hover {
      color: #040c18;
      background-color: $ice;
      border: 2px solid $ice;
    }
  }

  .error {
    height: 1rem;
    font-size: 0.8rem;
  }
}

.container-map {
  margin: 0 auto;
}

a {
  color: #000000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-modal {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  position: fixed;
  height: 45%;
  width: 100%;
  max-width: 500px;
  // width: inherit;
  bottom: -250px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 500;

  animation: slide-up 0.8s forwards;
  background-color: white;

  .modal-top {
    display: flex;
    padding: 25px 30px 10px 20px;
    justify-content: space-between;
    align-items: center;

    .info {
      font-size: 1.3rem;
      // font-family: $body;
      font-weight: 600;
      // color: $dark;
      .line {
        font-size: 0.9rem;
        // color: $light3;
      }
    }
  }

  .platform {
    display: flex;
    height: 40px;
    justify-content: center;

    .from {
      display: flex;
      justify-content: flex-end;
      max-width: 200px;
      min-width: 100px;
      padding-right: 10px;
      font-family: $font-body;
      font-weight: 600;
      color: #ffffff;
    }
    .to {
      display: flex;
      justify-content: flex-start;
      max-width: 200px;
      min-width: 100px;
      padding-left: 10px;
      font-family: $font-body;
      font-weight: 600;
      color: #ffffff;
    }
  }

  @each $subwayId, $color in $subwayId-data {
    .#{$subwayId} {
      display: flex;
      margin-top: 1rem;
      align-items: center;
      height: 40px;
      background-color: #{$color};

      .name-box {
        min-width: 9.5rem;
        height: 65px;
        display: flex;
        justify-content: center;
        border-radius: 40px;
        border: 3px solid #ffffff;
        .name {
          min-width: 9rem;
          padding: 0 1rem;
          height: 60px;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border-radius: 40px;
          font-size: 1.5rem;
          font-family: $font-name;
          border: 3px solid #{$color};
          color: black;
        }
        .long-name {
          text-align: center;
          padding: 0 1rem;
          font-size: 1.6rem;
        }
      }
    }
  }

  .close {
    color: grey;
    font-size: 1.2rem;
  }

  .close:hover {
    cursor: pointer;
  }

  .timer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 10px;

    .board {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
  }
}

.container-timer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  line-height: 1;
  margin-top: 0.8rem;
  cursor: pointer;

  .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid white;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid grey;
    }
  }
  .direction {
    flex: 0 0 6rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-body;
  }
  .current {
    text-align: right;
    // flex: 0 0 5rem;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: $font-body;
    padding-left: 5px;
  }
  .code {
    text-align: right;
    // flex: 0 0 5rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: $font-body;
    padding-left: 5px;
  }

  .status {
    font-size: 0.7rem;
    color: rgb(209, 0, 0);
  }

  .real {
    font-size: 0.8rem;
    font-family: $font-body;
  }
}

.container-room {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
}

.room-head {
  .top-status {
    display: flex;
    justify-content: space-between;
    .button-out {
      background-color: $purple;
      color: #ffffff;
      margin: 5px;
      border-radius: 5px;
      padding: 0 20px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
        background-color: $light-purple;
        color: #000000;
      }
    }
  }

  min-height: 9vh;
  padding-bottom: 20px;
  background-color: #040c17;
  .watch-status {
    font-family: $font-body;
    text-align: right;
    padding: 0 10px 20px;
    &:before {
      content: '\2713';
      color: green;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
  .watch-status-err {
    font-family: $font-body;
    text-align: right;
    padding: 0 10px 20px;
    &:before {
      content: '\2713';
      color: red;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }

  .realtime-position {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  @each $subwayId, $color in $subwayId-data {
    .#{$subwayId} {
      // display: flex;
      align-items: center;
      height: 2.5rem;
      background-color: #{$color};
      font-family: $font-body;
      font-weight: 600;

      .current-station {
        min-width: 20rem;
        // height: 60px;
        // display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        // border: 5px solid #040C17;
        .info {
          padding: 0 1rem;
          // min-width: 9rem;
          height: 60px;
          line-height: 1;
          display: grid;
          grid-template-columns: 0.8fr 2fr 0.5fr;
          text-align: center;
          // display: flex;
          // justify-content: center;
          align-items: center;
          background: #ffffff;
          border-radius: 40px;

          border: 5px solid #{$color};
          color: black;
        }

        .station {
          font-size: 1.2rem;
        }
        .status {
          font-size: 0.9rem;
        }
        .refresh {
          font-size: 1.2rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.room-body-submit {
  height: 13vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.box-ing {
  height: 1.2rem;
  // margin-bottom: 10px;
  margin: 0 0 10px 10px;
  align-self: flex-start;
}

.form-chat {
  display: flex;
  width: 95%;
  padding: 9px 15px 10px 30px;
  border: 1px solid #888888;
  border-radius: 60px;
}

.input-message {
  width: 100%;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
}

.submit {
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid $light-purple;
  background-color: $light-purple;

  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
}

.box-chat {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: auto;
  height: 76vh;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8));
}

.message {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0.5rem 0 0.5rem;
  max-width: 70%;
  font-family: $font-body;
  line-height: 1;
}

.notice {
  align-self: center;
  padding: 8px 10px;
  background-color: $green;
  font-size: 0.9rem;
  border-radius: 20px;
}

.me {
  align-self: flex-end;
}

.you {
  align-self: flex-start;
}

.text-user {
  margin-bottom: 5px;
  font-weight: 600;
}

.wrap-message {
  display: flex;
  align-items: flex-end;

  .text-notice {
    width: 20rem;
    text-align: center;
  }

  .text-me {
    min-height: 28px;
    padding: 8px 15px;
    color: black;
    background-color: $light-purple;
    border-radius: 20px;
    margin: 0 0.5rem;
  }

  .text-you {
    min-height: 28px;
    padding: 8px 15px;
    background-color: #523d73;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // border-radius: 20px;
    margin: 0 0.5rem;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid $purple;
      border-top: 10px solid $purple;
      border-bottom: 10px solid transparent;
      left: -15px;
      top: 0px;
    }
  }

  .text-time-me {
    font-size: 0.9rem;
    margin: 0 0.5rem;
    order: -1;
  }

  .text-time-you {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }
}

.out {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.container-alarm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 1000;
  min-width: 300px;
  height: 300px;
  margin: 100px 0;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-modal {
      text-align: center;
      font-size: 4rem;
      font-family: $font-title;
      color: $purple;
    }

    .container-train {
      display: flex;
      width: 170%;
      animation: leftright 5s forwards;
      animation-iteration-count: infinite;
      padding-top: 10px;
      .train {
        width: 150px;
      }
    }

    .alarm {
      padding: 20px;
      font-size: 1.2rem;
      font-family: $font-body;
      color: black;
    }
  }

  .close-modal {
    width: 100%;
    height: 30%;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: $purple;
    color: #ffffff;

    // margin: 20px;
    &:hover {
      cursor: pointer;
      background-color: $green;
    }
  }
}

.container-not {
  height: 100vh;
  color: #ffffff;
  font-family: $font-body;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }

  a {
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    background-color: $purple;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
  }
}
